/算法硬核入门/2.0神经网络初步/2.00线性规划N神经网络.key filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/3.0生成对抗网络GAN准备/GAN生成对抗网络.key filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/4.0不考虑原理-直接实现算法/sample_notebooks/Chapter01/1-2.ipynb filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/4.0不考虑原理-直接实现算法/【附赠】图解机器学习算法.pdf filter=lfs diff=lfs merge=lfs -text
/20220505/算法咋干.key filter=lfs diff=lfs merge=lfs -text
/20220505/m/狐狸过河.jpeg filter=lfs diff=lfs merge=lfs -text
/20220512/三角测量.HEIC filter=lfs diff=lfs merge=lfs -text
/20220512/山有多高.HEIC filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.0神经网络初步/样例结果_刺槐.html filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.0神经网络初步/样例结果_刺槐_files/extension.js filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.0神经网络初步/样例结果_刺槐_files/main.min.js filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.1神经网络调优基础/样例结果无序.html filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.1神经网络调优基础/样例结果无序_files/extension.js filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/2.1神经网络调优基础/样例结果无序_files/main.min.js filter=lfs diff=lfs merge=lfs -text
/20220526/阿基米德双拼.jpeg filter=lfs diff=lfs merge=lfs -text
/20220526/阿基米德胃疼游戏.jpeg filter=lfs diff=lfs merge=lfs -text
/20220602/20220602图论.key filter=lfs diff=lfs merge=lfs -text
/20220602/Teja[[:space:]]Krasek.png filter=lfs diff=lfs merge=lfs -text
/20220602/柏拉图正多面体99制作/12面体平视.JPG filter=lfs diff=lfs merge=lfs -text
/20220602/柏拉图正多面体99制作/12面体顶视.JPG filter=lfs diff=lfs merge=lfs -text
/20220602/柏拉图正多面体99制作/全图平视.JPG filter=lfs diff=lfs merge=lfs -text
/20220602/柏拉图正多面体99制作/全图顶视.jpeg filter=lfs diff=lfs merge=lfs -text
/20220615/《贼巢》作者：\[美\]詹姆斯·B·斯图尔.TXT filter=lfs diff=lfs merge=lfs -text
/20220615/花旗帝国：金融奇才桑迪·韦尔传奇（美）兰利_著.pdf filter=lfs diff=lfs merge=lfs -text
/20220704/回到未来第一战.key filter=lfs diff=lfs merge=lfs -text
/20220712/git业余.key filter=lfs diff=lfs merge=lfs -text
/20220712/git参与开源triangular.key filter=lfs diff=lfs merge=lfs -text
/20220712/git查看.key filter=lfs diff=lfs merge=lfs -text
/git/git业余.key filter=lfs diff=lfs merge=lfs -text
/git/git参与开源triangular.key filter=lfs diff=lfs merge=lfs -text
/git/git查看.key filter=lfs diff=lfs merge=lfs -text
/git/Git使用[[:space:]]-[[:space:]]panda.pdf filter=lfs diff=lfs merge=lfs -text
/history/20220505/m/狐狸过河.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20220505/算法咋干.key filter=lfs diff=lfs merge=lfs -text
/history/20220512/三角测量.HEIC filter=lfs diff=lfs merge=lfs -text
/history/20220512/山有多高.HEIC filter=lfs diff=lfs merge=lfs -text
/history/20220526/阿基米德双拼.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20220526/阿基米德胃疼游戏.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20220602/20220602图论.key filter=lfs diff=lfs merge=lfs -text
/history/20220602/Teja[[:space:]]Krasek.png filter=lfs diff=lfs merge=lfs -text
/history/20220602/柏拉图正多面体99制作/12面体平视.JPG filter=lfs diff=lfs merge=lfs -text
/history/20220602/柏拉图正多面体99制作/12面体顶视.JPG filter=lfs diff=lfs merge=lfs -text
/history/20220602/柏拉图正多面体99制作/全图平视.JPG filter=lfs diff=lfs merge=lfs -text
/history/20220602/柏拉图正多面体99制作/全图顶视.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20220615/《贼巢》作者：\[美\]詹姆斯·B·斯图尔.TXT filter=lfs diff=lfs merge=lfs -text
/history/20220615/花旗帝国：金融奇才桑迪·韦尔传奇（美）兰利_著.pdf filter=lfs diff=lfs merge=lfs -text
/history/20220704/回到未来第一战.key filter=lfs diff=lfs merge=lfs -text
/history/20220712/git业余.key filter=lfs diff=lfs merge=lfs -text
/history/20220712/git参与开源triangular.key filter=lfs diff=lfs merge=lfs -text
/history/20220712/git查看.key filter=lfs diff=lfs merge=lfs -text
/history/20220712/控制论整理.mindnode filter=lfs diff=lfs merge=lfs -text
/history/20221121控制论/初识控制论.key filter=lfs diff=lfs merge=lfs -text
/history/LK1971.pdf filter=lfs diff=lfs merge=lfs -text
/history/LKH_REPORT.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/TSP和VRP第一课.key filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/TSP和VRP第二课.key filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/lkh/LK1971.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/lkh/LKH_REPORT.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/5d19bfd196292.jpg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/5d19c1823e6c3.jpg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/浙江.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/《迷茫的旅行商：一个无处不在的计算机算法问题》.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/地图.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/1LKH/LK1971.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/1LKH/LKH_REPORT.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/1LKH/TSP-JohMcg97.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/地图4k.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/2k地图.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/5kmap.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/5k地图.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map/5k地图a3导出.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/TSP和VRP第二课[[:space:]]tsp精华.key filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/AICG.key filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/dall-e/clip.gif filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/dall-e/glide.gif filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/stable[[:space:]]diffusion/latent_diffusion_model.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/stable[[:space:]]diffusion/latent_diffusion_model举例.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/对比图/alley.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/对比图/cherry_blossom_near_lake_snowing.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/对比图/forest.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/对比图/mars.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/stable[[:space:]]diffusion碾压dall-e/对比图/pyramid.png filter=lfs diff=lfs merge=lfs -text
/history/20230330AICG/技术介绍/AICG.key filter=lfs diff=lfs merge=lfs -text
/算法硬核入门/人工智能：现代方法（第4版）（上下册）.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/2k地图.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/5d19bfd196292.jpg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/5d19c1823e6c3.jpg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/5kmap.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/5k地图.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/5k地图a3导出.pdf filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/地图4k.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/map素材/浙江.png filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/VRP不是TSP.key filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp.key filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.001.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.002.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.003.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.004.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.005.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.006.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.007.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.008.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.009.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.010.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.011.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.012.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.013.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/tsp/tsp.014.jpeg filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/从现实抽象到数学/下一个物流业.key filter=lfs diff=lfs merge=lfs -text
/history/20221205TSP:VRP系列/1LKH/lk3opt到lkh5opt.key filter=lfs diff=lfs merge=lfs -text
